.heading
{
    background-color: antiquewhite;
    height: 100px;
    width: 100%;
}

.heading,.heading_image
{
    float: left;
    align-content: left;
}

.heading,.heading_content
{
    float: center;
    padding: 1px;
}

.heading_content h1
{
    text-align: center;
}

nav
{
    background-color: black;
    margin: 10px;
}

nav a
{
    text-decoration: none;
    color: white;
    padding: 25px;
    margin: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a:hover
{
    color: greenyellow;
}

.main
{
    width: 100%;
    /* padding: 10px; */
}

.side_nav
{
    background-color: antiquewhite;
    width: 10%;
    float: left;
    margin-left: 10px;
    /* margin-top: 10px; */
    padding: 10px;
}

.side_nav_heading
{
    background-color: white;
    color: red;
    text-align: center;
}

.side_nav_heading h1
{
    /* text-align: center; */
    font-weight: bold;
}

.side_nav_content
{
    padding: 20px;
    text-align: center;
}

.side_nav_content a
{
    text-decoration: none;
    color: royalblue;
    margin-left: 10px;
    padding: 10px;
}

.main_content
{
    background-image: url('https://images.unsplash.com/photo-1529148482759-b35b25c5f217?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bGlicmFyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: 90rem;
    color: white;
    float: right;
    text-align: center;
    width: 85%;
    height: 31rem;
    margin-right: 10px;
}

.main_content_login
{
    background-image: url('https://images.unsplash.com/photo-1529148482759-b35b25c5f217?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bGlicmFyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: 90rem;
    width: 85%;
    height: 33rem;
    margin-right: 10px;
    float: right;
}

.heading_login
{
    text-align: center;
    color: white;
}

.container
{
    background-color: white;
    margin-left: 20rem;
    border-radius: 5px;
    width: 40rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
}

form
{
    padding: 20px;
}

input
{
    padding: 3px;
    width: 285px;
    height: 25px;
    border: none;
    background-color: gainsboro;
    color: white;
    border-radius: 5px;
}

label
{
    padding-bottom: 3px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(12, 137, 240);
}

.container_heading
{
    border-radius: 5px;
    text-align: center;
    background-color: rgb(12, 137, 240);
    color: white;
}

.login_reg
{
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.login_reg a
{
    text-decoration: none;
    color: rgb(12, 137, 240);
}

.login_reg a:hover
{
    color: green;
}